zw_project_1_0/modelpoint.xml
zw_project_1_0/build
zw_project_1_0/zw_project_1_0.pro.user
zw_project_1_0/ui_operationinterface.h
zw_project_1_0/zw_project_1_0.pro.user.a1bb83b
zw_project_1_0/zw_project_1_0.pro.user
