
<root>
    <!-- log_level 日志级别 1 error  2 warn 3 info 4 debug  del_file 文件感知读取文件后是否删除文件 1 不删 0 删除  
	plugin_path 插件的路径   
	plugin_config_path 插件配置文件名（含路径）
	dowanload_file_path 下载文件默认保存路径
    MachineList 设备配置 -->
    <common log_level="4" ip_address_key="以太网" del_file="0" dowanload_file_path="D:"  gaodugui_time_interval="200" plugin_path="D:\S_wroking\三方插件\测试程序\Derive.exe" plugin_config_path="D:\S_wroking\三方插件\测试程序\Configuration.ini"/>
    <MachineList name="123" />
    <MachineList name="234" />
    <MachineList name="456" />
</root>
<!--?xml version="1.0" encoding="UTF-8"? -->
       
